# Packages
node_modules/

# Compiled output
*.tsbuildinfo
dist/
generated/

# Cache
.cache/
.task/

# By filetype
*.md

# Root content
.editorconfig
.github/
.gitignore
.prettierignore
.vscode/
Dockerfile
docs/
eslint.config.*
prettier.config.*

# Packages content
.env
!.env.mode.development
!.env.mode.production
!.env.target.local
!.env.target.test
!.env.target.production
.tsconfig.spec.json
.tsconfig.*.spec.json
