# Packages
node_modules/

# Compiled output
*.tsbuildinfo
dist/
generated/

# Cache
.cache/
.task/

# By filetype
*.md

# Root content
.editorconfig
.env.fly
.git/
.github/
.gitignore
.prettierignore
.vscode/
Dockerfile
Dockerfile.*
docs/
eslint.config.*
fly.*.toml
fly.*.yml
fly.toml
fly.yml
prettier.config.*

# Packages content
.tsconfig.spec.json
.tsconfig.*.spec.json
