# Installed dependencies
node_modules/

# Project-generated things
.env.compose
dist/
generated/

# Editor settings
/.vscode/*
/!.vscode/extensions.json
/!.vscode/launch.json
/!.vscode/settings.json
/!.vscode/tasks.json

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Tool-generated things
.cache/
.codex
.DS_Store/
.eslintcache
.git/
.task/
.Trash-*/
.wrangler/
*.save
*.tsbuildinfo
Thumbs.db

# Project root stuff
.codex
.dependency-cruiser.mjs
.dockerignore
.editorconfig
.env.*.secret
.env.override
.envrc
.envrc.local
.gitignore
.prettierignore
.tally.toml
.tsconfig.*.spec.json
.tsconfig.spec.json
.vscode/
*.md
/.dev/
/.drafts/
/.github/
/benchmark/
/bin/
/compose/
/scripts/
/Taskfile.dev.yml
AGENTS.md
Dockerfile
Dockerfile.*
docs/
eslint.config.*
eslint.config.ts
fly.*.toml
fly.*.yaml
fly.*.yml
fly.toml
fly.yaml
fly.yml
prettier.config.*
prettier.config.mjs
README.md
