# Installed dependencies
node_modules/


# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
.cache/
.codex
.DS_Store/
.task/
.Trash-*/
.wrangler/
*.save
*.tsbuildinfo
Thumbs.db

# Compiled outputs
dist/
generated/

# Editor settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Everything else
.env.cf
.env.fly
fly.*.toml
fly.*.yml
fly.toml
fly.yml
/.local
