.header {
  display: grid;
  place-content: center;
  justify-items: center;
  padding: 90px 0;
}

.separator {
  width: 53px;
  height: 1px;
  background-color: var(--color-primary);
  margin-top: 20px;
}

.title {
  margin-top: 10px;
  max-inline-size: min(100%, 32ch);
  text-align: center;
}

.subtitle {
  margin-top: 2px;
}

@media (--mw-1280) {
  .header {
    padding: 50px 0;
  }
}

@media (--mw-601) {
  .header {
    padding: 40px 0;
  }

  .title {
    font-size: var(--fs-50);
  }
}
