.link {
  font-size: var(--fs-14);
  line-height: var(--lh-17);
  font-weight: var(--fw-400);
  color: var(--color-primary);
  margin-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  display: block;
}

.link:hover,
.link:focus-visible,
.link.is-active {
  border-bottom: 2px solid var(--color-primary);
}

@media (--mw-768) {
  .link {
    font-size: var(--fs-18);
  }
}

@media (--mw-430) {
  .link {
    font-size: var(--fs-16);
  }
}
