.g-title-1 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-75);
  line-height: var(--lh-90);
  font-weight: var(--fw-700);
}

.g-title-2 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-25);
  line-height: var(--lh-35);
  font-weight: var(--fw-300);
}

.g-title-3 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-25);
  line-height: var(--lh-30);
  font-weight: var(--fw-700);
}

.g-label-1 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-18);
  line-height: var(--lh-23);
  font-weight: var(--fw-700);
}

.g-label-2 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-14);
  line-height: var(--lh-17);
  font-weight: var(--fw-700);
}

.g-label-3 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-12);
  line-height: var(--lh-14);
  font-weight: var(--fw-700);
}

.g-text-3 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-14);
  line-height: var(--lh-12);
  font-weight: var(--fw-700);
}

.g-text-1 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-18);
  line-height: var(--lh-23);
  font-weight: var(--fw-400);
}

.g-text-2 {
  font-family: var(--font-family-roboto);
  font-size: var(--fs-14);
  line-height: var(--lh-17);
  font-weight: var(--fw-400);
}
