<app-default-page-layout>
  <app-heading title="Characters" />
  @let data = collection.data();
  @if (data.items.length > 0) {
    <app-image-grid>
      @for (item of data.items; track $index) {
        <app-image-grid-item
          [imageUrl]="item.images[0].url"
          [imageAlt]="imageTitle(item)"
          [label]="item.name"
          [linkUri]="linkUri(item)"
          [index]="$index"
        >
          @if (item.gender) {
            <div class="g-truncate-1">Gender: {{ item.gender }}</div>
          }
          @if (item.birthYear) {
            <div class="g-truncate-1">Birth Year: {{ item.birthYear }}</div>
          }
          @if (item.homeworldId) {
            <div class="g-truncate-1">Homeworld ID: {{ item.homeworldId }}</div>
          }
        </app-image-grid-item>
      }
    </app-image-grid>
  }
</app-default-page-layout>
