.image-slider {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: start;
  row-gap: 16px;
}

.viewport {
  width: 100%;
  overflow: hidden;
  contain: layout;
  cursor: grab;
}

.viewport-swiping {
  cursor: grabbing;
}

.slides {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  width: 100%;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.slide {
  height: 100%;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  touch-action: pan-y;
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.indicator {
  color: var(--color-grey-90);
}

.indicator-active {
  color: var(--color-tertriary);
}
